@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.inter {
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.roboto {
  font-family: "Roboto", sans-serif;
}

.linksContainer a {
  margin: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.contentLeft,
.contentCenter,
.contentRight {
  /* width: 33.3333333333%; */
  text-align: left;
}
